<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
<%- include("partials/header.ejs") %>

<h1>Remove Student Data</h1>

<div class="card p-4">
    <p>Are you sure you want to remove the following student from the database?</p>
    <div class="row mb-3">
        <div class="col">
            <strong>First Name:</strong> <%= student.first_name %>
        </div>
        <div class="col">
            <strong>Last Name:</strong> <%= student.last_name %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <strong>Mobile:</strong> <%= student.mobile %>
        </div>
        <div class="col">
            <strong>Enrolment Number:</strong> <%= student.enrolment_no %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <strong>Email:</strong> <%= student.email %>
        </div>
        <div class="col">
            <strong>Seat Type:</strong> <%= student.seat_type %>
        </div>
    </div>


    <form id="removeForm" action="/remove_student/<%= student.email %>" method="post">
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="confirmCheckbox" required />
            <label class="form-check-label" for="confirmCheckbox">Confirm removal</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="xyz">Remove</button>
            <a href="/" class="btn me-md-2">Cancel</a>
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") %>
</body>
</html>
